@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    padding: 0;
    border: 0;
    outline: none;
}

body,
input,
input::placeholder,
button {
    font-family: 'Rubik', sans-serif;
}

button {
    cursor: pointer;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

body {
    background-color: #e9ecf9;
}